*.iml
.gradle
/local.properties
.idea
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/vcs.xml
/compose/build/
/desktop/build/
