<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.jensklingenberg.jetpackcomposeplayground.ui.samples">

    <application>

        <activity android:name="de.jensklingenberg.jetpackcomposeplayground.mysamples.MyComposeActivity" />


        <activity android:name="androidx.compose.material.demos.DynamicThemeActivity" />

        <activity android:name="androidx.compose.integration.demos.DemoActivity" />
        <activity android:name="androidx.compose.integration.demos.DemoSettingsActivity" />

    </application>
</manifest>
