<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.jensklingenberg.jetpackcomposeplayground.mysamples">

    <application>
        <activity android:name="de.jensklingenberg.jetpackcomposeplayground.mysamples.MyTestActivity" />
        <activity android:name=".demo.DemoActivity" />
    </application>
</manifest>